{
"type": "ExistingCloud",
"auth_url": "http://{{ getv "/services/router/frontend/keystone/admin-url" }}/v2.0/",
"admin": {
    "username": "demo",
    "password": "password",
    "tenant_name": "demo"
}
}
