export OS_USERNAME=admin
export OS_PASSWORD={{ getv "/services/keystone/config/admin-password"  }}
export OS_TENANT_NAME=admin
export OS_PROJECT_NAME=admin
export OS_AUTH_URL=http://{{ getv "/services/balancer/host"  }}:5000/v2.0/
export OS_ENDPOINT_TYPE=publicURL
export OS_AUTH_VERSION=2
