#!/bin/sh

PATH="/bin:/sbin:/usr/bin:/usr/sbin"

cat > /tmp/libvirt-secret.xml <<EOF
<secret ephemeral='no' private='no'>
  <uuid>{{ getv "/services/ceph/config/secret-uuid" }}</uuid>
  <usage type='ceph'>
    <name>{{ getv "/services/ceph/config/cinder-client" }}</name>
  </usage>
</secret>
EOF

virsh secret-define --file /tmp/libvirt-secret.xml
virsh secret-set-value --secret {{ getv "/services/ceph/config/secret-uuid" }} --base64 '{{ getv "/services/ceph/config/cinder-client" }}' && rm /tmp/libvirt-secret.xml

