Description=Component cinder-scheduler of service cinder

[Service]
TimeoutStartSec=20m
EnvironmentFile=/etc/environment
ExecStartPre=-/bin/sh -c "/usr/bin/docker stop cinder-scheduler%i"
ExecStartPre=-/bin/sh -c "/usr/bin/docker rm cinder-scheduler%i"
ExecStartPre=-/bin/sh -c "IMAGE=$(etcdctl get /services/cinder/config/cinder-scheduler-image-name) && flock -w 1800 /run/docker-pull.lock /usr/bin/docker pull $IMAGE"
ExecStart=/bin/sh -c "IMAGE=$(etcdctl get /services/cinder/config/cinder-scheduler-image-name) && exec /usr/bin/docker run --rm --name cinder-scheduler%i -e CONFD_OPTS='-interval 10 -node 172.17.42.1:4001' $IMAGE"
ExecStop=/bin/sh -c "/usr/bin/docker stop cinder-scheduler%i"

Restart=on-failure
RestartSec=5

