Description=Component cinder-api of service cinder

[Service]
TimeoutStartSec=20m
EnvironmentFile=/etc/environment
ExecStartPre=-/bin/sh -c "/usr/bin/docker stop cinder-api%i"
ExecStartPre=-/bin/sh -c "/usr/bin/docker rm cinder-api%i"
ExecStartPre=-/bin/sh -c "IMAGE=$(etcdctl get /services/cinder/config/cinder-api-image-name) && flock -w 1800 /run/docker-pull.lock /usr/bin/docker pull $IMAGE"
ExecStart=/bin/sh -c "IMAGE=$(etcdctl get /services/cinder/config/cinder-api-image-name) && exec /usr/bin/docker run --rm --name cinder-api%i -e SERVICE_8776_NAME=services/router/backend/cinder/api -e CONFD_OPTS='-interval 10 -node 172.17.42.1:4001' -p 8776 $IMAGE"
ExecStop=/bin/sh -c "/usr/bin/docker stop cinder-api%i"

Restart=on-failure
RestartSec=5

