Description=Component designate-api of service designate

[Service]
TimeoutStartSec=20m
EnvironmentFile=/etc/environment
ExecStartPre=-/bin/sh -c "/usr/bin/docker stop designate-api%i"
ExecStartPre=-/bin/sh -c "/usr/bin/docker rm designate-api%i"
ExecStartPre=-/bin/sh -c "IMAGE=$(etcdctl get /services/designate/config/designate-api-image-name) && flock -w 1800 /run/docker-pull.lock /usr/bin/docker pull $IMAGE"
ExecStart=/bin/sh -c "IMAGE=$(etcdctl get /services/designate/config/designate-api-image-name) && exec /usr/bin/docker run --rm --name designate-api%i -e CONFD_OPTS='-interval 10 -node 172.17.42.1:4001' -e SERVICE_9001_NAME=services/router/backend/designate/api -p 9001 $IMAGE"
ExecStop=/bin/sh -c "/usr/bin/docker stop designate-api%i"

Restart=on-failure
RestartSec=5

