Description=Component glance-api of service glance

[Service]
TimeoutStartSec=20m
EnvironmentFile=/etc/environment
ExecStartPre=-/bin/sh -c "/usr/bin/docker stop glance-api%i"
ExecStartPre=-/bin/sh -c "/usr/bin/docker rm glance-api%i"
ExecStartPre=-/bin/sh -c "IMAGE=$(etcdctl get /services/glance/config/glance-api-image-name) && flock -w 1800 /run/docker-pull.lock /usr/bin/docker pull $IMAGE"
ExecStart=/bin/sh -c "IMAGE=$(etcdctl get /services/glance/config/glance-api-image-name) && exec /usr/bin/docker run --rm --name glance-api%i -e CONFD_OPTS='-interval 10 -node 172.17.42.1:4001' -e SERVICE_9292_NAME=services/router/backend/glance/api -p 9292 $IMAGE"
ExecStop=/bin/sh -c "/usr/bin/docker stop glance-api%i"

Restart=on-failure
RestartSec=5

