Description=Component rally of service rally

[Service]
TimeoutStartSec=20m
EnvironmentFile=/etc/environment
ExecStartPre=-/bin/sh -c "/usr/bin/docker stop rally%i"
ExecStartPre=-/bin/sh -c "/usr/bin/docker rm rally%i"
ExecStartPre=-/bin/sh -c "IMAGE=$(etcdctl get /services/rally/config/rally-image-name) && flock -w 1800 /run/docker-pull.lock /usr/bin/docker pull $IMAGE"
ExecStart=/bin/sh -c "IMAGE=$(etcdctl get /services/rally/config/rally-image-name) && exec /usr/bin/docker run --rm --name rally%i -e CONFD_OPTS='-interval 50 -node 172.17.42.1:4001' $IMAGE"
ExecStop=/bin/sh -c "/usr/bin/docker stop rally%i"

Restart=on-failure
RestartSec=5

