Description=Component tempest of service tempest

[Service]
TimeoutStartSec=20m
EnvironmentFile=/etc/environment
ExecStartPre=-/bin/sh -c "/usr/bin/docker stop tempest%i"
ExecStartPre=-/bin/sh -c "/usr/bin/docker rm tempest%i"
ExecStartPre=-/bin/sh -c "IMAGE=$(etcdctl get /services/tempest/config/tempest-image-name) && flock -w 1800 /run/docker-pull.lock /usr/bin/docker pull $IMAGE"
ExecStart=/bin/sh -c "IMAGE=$(etcdctl get /services/tempest/config/tempest-image-name) && exec /usr/bin/docker run --rm --name tempest%i -e CONFD_OPTS='-interval 50 -node 172.17.42.1:4001' $IMAGE -- /opt/tempest/run_tempest.sh --no-virtual-env --smoke"
ExecStop=/bin/sh -c "/usr/bin/docker stop tempest%i"

Restart=on-failure
RestartSec=5

